 
 .back-color-nav{
    background-color: darkblue;
 }
 .sideimage{
    width: 100%;
    height: auto;
 }
 zindex1{
    z-index: -1;
}
#firstUl li:hover{
   background-color: blueviolet;
}
/* .back-hover{
   background-color: blueviolet;
} */
.homePageStyle{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   align-items: center;
}

.border-radius{
 border-radius: 1rem;
}

.shadow{
   filter: drop-shadow(6px -3px 8px black);
}