 
 .back-color-nav{
   background-color: black;
}
.sideimage{
   width: 100%;
   height: auto;
}
zindex1{
   z-index: -1;
}
#firstUl li:hover{
  background-color: #00C853 !important;
}
/* .back-hover{
  background-color: blueviolet;
} */
.homePageStyle{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.border-radius{
border-radius: 1rem;
}

.shadow{
  filter: drop-shadow(6px -3px 8px black);
}

.nav-shadow{
  box-shadow: 0 0 30px #90a4ae;
}

.nav-img-size{
  width: 50px;
  height: 50px;
}

.max-h-35{
   max-height: 35px;
}

.user-list-item.active .material-icons:first-child{
   transform: rotate(180deg);
}

.highlighting > tbody > tr:hover{
background-color: #00c8536f !important;
}

.pagination-item-count{
  align-items: baseline
}

.rounded-pill{
  border-radius: 5rem;
}

.pagination-pos{
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 95% !important; */
    height: 60px;
}

.container{
  width: 100%;
}

.border-radius-top{
  border-radius: 1rem 1rem 0 0;
  }

 .AddUser-Modal-Back{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.70);
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
 }

 .AddUser-Modal{
  position: fixed;
  width: 95%;
  height: 70vh;
  background-color: white;
  z-index: 1000;
  right: 0;
  left: 0;
  bottom: -75vh;
  box-shadow: 0 8px 17px 2px #00c8536f, 0 3px 14px 2px #00c8536f, 0 5px 5px -3px #00c8536f;

}
 
.AddUser-Modal.show{
bottom: 0;
}

