 
 .back-color-nav{
   background-color: black;
}
.sideimage{
   width: 100%;
   height: auto;
}
zindex1{
   z-index: -1;
}
#firstUl li:hover{
  background-color: #00C853 !important;
}
/* .back-hover{
  background-color: blueviolet;
} */
.homePageStyle{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.border-radius{
border-radius: 1rem;
}

.shadow{
  filter: drop-shadow(6px -3px 8px black);
}

.nav-shadow{
  box-shadow: 0 0 30px #90a4ae;
}

.nav-img-size{
  width: 50px;
  height: 50px;
}

.max-h-35{
   max-height: 35px;
}

.user-list-item.active .material-icons:first-child{
   transform: rotate(180deg);
}

.highlighting > tbody > tr:hover{
background-color: #00c8536f !important;
}

.pagination-item-count{
  align-items: baseline
}

.rounded-pill{
  border-radius: 5rem;
}

.pagination-pos{
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95% !important;
    height: 60px;
}

.border-radius-pagination{
  border-radius: 1rem 1rem 0 0;
  }

